<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><ion-img alt="logo" class="logo" src="../../assets/logo.png"></ion-img></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >

  <ion-button id="es" color="none" class="botoesdaindex" href="../essencial">
    <h1>Essencial</h1>
  </ion-button>

  <ion-button id="sl" color="none" class="botoesdaindex" href="../saude">
    <h1>Saude & Lazer</h1>
  </ion-button>

  <ion-button id="edu" color="none" class="botoesdaindex" href="../educacao">
    <h1>Educação</h1>
  </ion-button>

  <ion-card>
    teste
  </ion-card>

  

</ion-content>