<ion-content color="dark">
  <ion-card>

    <ion-img alt="logo" src="../../assets/logo.png"></ion-img>

    <form (ngSubmit)="submitForm()">

      <ion-item lines="full">
        <ion-label position="floating">Usuário</ion-label>
        <ion-input aria-label="Usuário"  name="user" type="text" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Senha</ion-label>
        <ion-input aria-label="Senha" name="senha" type="password" required></ion-input>
      </ion-item>

      <ion-button type="submit" >Teste</ion-button>

      </form>

    </ion-card>
</ion-content>